#mainCol{
    background-color:white;
    width:1100px;
    position:relative;
    left:300px;
    margin-top:30px;
    display:grid;
    grid-template-rows:50px 35px 500px 50px;
    grid-template-columns:300px 500px 300px;
 
}
#col2{
    background-color:white;
    width:1100px;
    position:relative;
    left:300px;
    margin-top:30px;
    
}
#board_form{
    grid-column:1 / span 3;
}

#greetContent{
    grid-row:2;
    padding-left:100px;
    padding-right:100px;
}
#list_search {
    height:30px;
    padding-top:10px;
}

#list_search #list_search1 {
    float:left;
    margin-top:2px;
}

#list_search #list_search2 {
    float:left;
    margin-top:4px;
    margin-left:500px;
}


#list_search #list_search3 {
    float:left;
    margin-left:5px;
    margin-top:2px;
    
}

#list_search #list_search3 select {
    width:80px;
    height:21px;
    border:solid 1px #cccccc;
}

#list_search #list_search4 {
    float:left;
    margin-left:3px;
    width:150px;
}

#list_search #list_search4 input {
    width:150px;
    height:18px;
    border:solid 1px #cccccc;
    
}

#list_search #list_search5 {
    float:left;
    margin-left:5px;
    margin-top:2px;
}

#list_top_title {
    height:20px;
    padding:7px;  
    border-top:solid 2px #aaaaaa;
    background-color:#eeeeee;
    margin-bottom:3px;
    grid-column:1 / span 3;
}

#list_top_title li {
    display:inline;
}

#list_top_title #list_title1 {
    margin-left:10px;
}

#list_top_title #list_title2 {
    margin-left:360px;
}

#list_top_title #list_title3 {
  margin-left:265px;
}

#list_top_title #list_title4 {
  margin-left:100px;
}

#list_top_title #list_title5 {
  margin-left:82px;
}

#list_content {
    height:500px;
    grid-column:1 / span 3;
}

#list_item {
	height:37px;
	padding-top:6px;
        padding-bottom:6px;
	border-bottom:solid 1px #eeeeee;
        display:grid;
        grid-template-columns: 130px 480px 70px 170px 120px 120px;
       
}

#list_item #list_item1{
	float:left;
        grid-column:1;
        text-align:center;
        padding-top:4px;
       
}

#list_item #list_item2{
	float:left;
        grid-column:2;
        padding-top:4px;
}

#list_item #list_item3{
	float:left;
        grid-column:3;     
        text-align:center;
        padding-top:2px;

}

#list_item #list_item4{
	float:left;
        grid-column:4;
        text-align:center;
        padding-top:4px;
}

#list_item #list_item5{
	float:left;
        grid-column:5;
        text-align:center;
        padding-top:4px;
}
#list_item #list_item6{
	float:left;
        grid-column:6;
        text-align:center;
        padding-top:4px;
}
#thumbnail{
    float:right;
}

#button {
	float:left;
	width:18%;
	text-align:right;
}
ul{
    margin:0;
}
#write_button{
    grid-column:3;
    text-align:right;
    padding-top:10px;
   padding-right:25px;
   
}

#greetSubject{
    width:1013px;
    height:20px;
}
#write_row1{
    margin-bottom: 10px;
}
#write_row2{
    margin-bottom: 10px;
}

#view_title{
    border-bottom:gray 1px solid;
    padding-bottom:10px;
    margin-bottom:20px;
}
#view_title #view_title1{
    padding-bottom:15px;
    font-size:24px;
}
#view_title #view_title2{
    padding-bottom:20px;
    
}
#view_content{
    padding-bottom:20px;
    border-bottom:gray 1px solid;
    margin-bottom:20px;
    
}
#view_button{
    float:right;
}

#page_num{
    text-align: center;
    width:500px;
    display:inline-block;
}
#left_page_button{
    text-align:right;
}
#right_page_button{
     text-align:left;
}
#write_button #cancle_button{
  
}