
#form_join{
    display:grid;
    grid-template-columns: 230px 1fr;
    
}
#join1{
    background-color:#99D9EA;
}
#update1{
    background-color:#99D9EA;
}

ul{
    list-style:none;
    padding-left:20px;
}

#join1 li{
    padding-bottom:10px;
	padding-top:6px;
}
#join2 li{
    padding-top:2px;
    padding-bottom:6px;
    border-bottom:1px solid #EAEAEA;
}
#update1 li{
    padding-bottom:10px;
	padding-top:1px;
}
#update2 li{
    padding-top:2px;
    padding-bottom:6px;
    border-bottom:1px solid #EAEAEA;
}
.hp{
    width:50px;
}
#id1{
    padding-bottom: 2px;
}
#must{
    padding-left:20px;
	span: 1/2;
}
#email1{
width:100px;
}
#checkButton{
vertical-align: middle;
}

#check_box{
    height:30px;
    width:200px;
}
#change_pass{
    font-color:gray;
}
.button{
	text-align:right;
	float:right;
}